@import url("https://fonts.googleapis.com/css2?family=Underdog&display=swap");

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  font-family: "Underdog", system-ui;
}

.header {
  width: 100%;
  height: 100vh;
  background: url(./images/Cat-alice-in-wonderland.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}

.nav__list {
  display: flex;
  align-items: center;
  gap: 80px;
}

.nav__item {
  text-transform: uppercase;
  color: #43ffff;
  font-size: 22px;
  cursor: pointer;
}

.first-quote {
  height: 670px;
  background-image: linear-gradient(
    to top right,
    #2d1e43 10%,
    #3089a6 70%,
    #2b7c8d 100%
  );
}

.first-quote blockquote {
  color: white;
  font-size: 26px;
  padding-left: 200px;
  padding-top: 150px;
  text-align: right;
}

.first-quote img {
  padding: 20px;
  float: right;
  shape-outside: polygon(
    274px 0px,
    298px 131px,
    308px 189px,
    252px 306px,
    216px 403px,
    0px 443px,
    0px 550px,
    707px 550px,
    707px 0px,
    274px 0px
  );
}

.second-quote {
  height: 670px;
  background-image: url("./images/red-roses.jpg");
  display: flex;
  align-items: center;
  justify-content: center;
}
.second-quote blockquote {
  width: 740px;
  height: 500px;
  background-image: url("./images/tea_pot.png");
}
.second-quote p {
  padding-top: 120px;
  color: #fff;
  font-size: 18pt;
  text-align: center;
}
.second-quote__left {
  width: 320px;
  height: 500px;
  float: left;
  /*background-color: red;*/
  shape-outside: polygon(
    305px 116px,
    242px 176px,
    216px 251px,
    219px 336px,
    272px 420px,
    272px 550px,
    0px 550px,
    0px 0px,
    305px 0px,
    305px 116px
  );
  /*clip-path: polygon(305px 116px, 242px 176px, 216px 251px, 219px 336px, 272px 420px, 272px 550px, 0px 550px, 0px 0px, 305px 0px, 305px 116px);*/
}
.second-quote__right {
  width: 280px;
  height: 500px;
  float: right;
  /*background-color: red;*/
  shape-outside: polygon(
    0px 116px,
    63px 176px,
    101px 251px,
    121px 336px,
    47px 420px,
    47px 550px,
    278px 550px,
    278px 0px,
    0px 0px,
    0px 116px
  );
  /*clip-path: polygon(0px 116px, 63px 176px, 101px 251px, 121px 336px, 47px 420px, 47px 550px, 278px 550px, 278px 0px, 0px 0px, 0px 116px);*/
}

.informations {
  height: 650px;
  padding: 40px;
  background-image: url(images/cat.jpg);
  background-size: cover;
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
  color: white;
  font-size: 14pt;
}

.actors_list {
  width: 70%;
  height: 100%;
  position: relative;
}

.actors_list:before {
  content: "";
  display: block;
  width: 100%;
  height: 100%;
  float: left;
  /*background-color: red;*/
  shape-outside: polygon(0% 0%, 0% 100%, 70% 0%, 0% 0%);
  /*clip-path: polygon(0% 0%, 0% 100%, 70% 0%, 0% 0%);*/
}

.All_mad_here {
  height: 630px;
  display: flex;
  background-image: linear-gradient(
    to bottom right,
    #f8ffe8 0%,
    #e3f5ab 33%,
    #6cc726 100%
  );
  font-size: 20pt;
}

.All_mad_here img {
  padding-top: 50px;
  padding-left: 40px;
}

.All_mad_here_quote1 {
  width: 50%;
  height: 100%;
  text-align: right;
}

.All_mad_here_quote1 p {
  padding: 100px;
}

.All_mad_here_quote1:before {
  content: "";
  display: block;
  width: 100%;
  height: 100%;
  float: right;
  /*background-color: red;*/
  shape-outside: polygon(100% 0%, 100% 100%, 30% 100%, 100% 0%);
  /*clip-path: polygon(100% 0%, 100% 100%, 30% 100%, 100% 0%);*/
}

.All_mad_here_quote2 {
  width: 50%;
  height: 100%;
  text-align: left;
  margin-left: -30%;
}

.All_mad_here_quote2 p {
  padding: 150px;
}

.All_mad_here_quote2:before {
  content: "";
  display: block;
  width: 100%;
  height: 100%;
  float: left;
  /*background-color: red;*/
  shape-outside: polygon(0% 0%, 0% 100%, 70% 0%, 0% 0%);
  /*clip-path: polygon(0% 0%, 0% 100%, 70% 0%, 0% 0%);*/
}
